* {
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

body {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro','ヒラギノ明朝 Pro W3',serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: #108db8;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
}
